extends layout

block sidebar 
  div.sidebar
    ul 
      li 
        a(href="")
          img(src= "#{searchIcon}")
      li 
        a(href="/admin")
          img(src= "#{settingsIcon}")
      li
        a(href="/playlists")
          img(src= "#{playlistIcon}")
  
  div.body
    
    each item in songName
      div.song
        p #{item.songName}
        audio(controls src="#{item.url}")
